/*******************
    NAVIGATION
********************/
/* Add a black background color to the top navigation */
.navbar {
    background-color: black;
    height: 90px;

}
.navbar-collapse
{
  padding-top:30px;
}
#bs-example-navbar-collapse-1
{

}
