/*******************
    NAVIGATION
********************/
/* Add a black background color to the top navigation */
.navbar {
    background-color: black;
    height: 70px;

}
#bs-example-navbar-collapse-1
{
  padding-top:30px;
}
