<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- CDN = Content Delivery Network -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/tablesort.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300|Rubik:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Trirong" rel="stylesheet">

  <title>Client Notes</title>
</head>

<body>
  <div id="clientNotesMain">
    <header>
      <div class="intro">
        <h1>Alternative Green Systems - Turbine Outage Management</h1>
        <p class="quote">&ldquo;The future is green energy, sustainability, renewable energy&rdquo;</p>
      </div>

      <nav class="topnav" id="myTopnav">
        <a href="index.html">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </nav>
    </header>

    <!-- Site Table goes below this line-->

    <div class="row">
      <div class="container">
        <h1>Client Notes</h1>
        <table id="clientNotesTable" class="table table-striped table-sm table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Client Note ID</th>
              <th scope="col">Client ID</th>
              <th scope="col">Client Notes</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody id="clientNotesTableBody" v-for="data in clientNotes" :key="data.clientNoteId">
            <td>{{data.clientNoteId}}</td>
            <td>{{data.clientId}}</td>
            <td>{{data.clientNote}}</td>
            <td>
              <button class="deleteButton" @click="deleteClientNoteButtonClick(data.clientNoteId)">Delete</button>
            </td>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="content">

      <form id="newClientNotesForm" @submit.prevent="handleClientNotesForm">
        <div class="form-group">
          <p>
            <label>Client Notes</label>
          </p>
          <p>
            <input type="text" class="form-control" id="clientNote" v-model="clientNotesForm.clientNote" required>
          </p>
        </div>
        <p>
          <button type="submit" id="submitNewClientNotes" class="btn btn-primary">Submit</button>
        </p>
      </form>
    </div>
    </div>


  </div>

  <footer>
    <div class="content">
      <div class="row">
        <p>Copy Right Team Green 16 &mdash; All Rights reserved. Don&rsquo;t take our stuff.</p>
      </div>
    </div>
  </footer>

  </div>

  <!-- Vue: development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/tablesort.min.js"></script>
  <script src="js/clientNotes.app.js"></script>
  <script>
    new Tablesort(document.getElementById('siteTable'));
  </script>

  <script type="text/javascript">
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</body>

</html>